*{ 
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite; /* changes font color for heading*/
    font: 24px;
    border: 10px solid;
    height: 100px;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}   
.h1text {
    flex:1;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    font:24px;
}
.nav-list { /* this controls the positioning of of the nav buttons*/
    flex:2;
    float: right;
    list-style-type: none;
    flex-direction: row;
    align-content: center;
    justify-content:center;
    list-style-type: none;
}
nav ul {
    float:right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block ;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: whitesmoke; /* Changes font color for nav bar */
    font-size: 24px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover {
    background: #212b35;
    transition: .5s;
}

.hero{
    background-color: #050709;
    background-image: url(/Users/roderickhughey/Portfolio-Endless-Possibilities/Assets/black-hole.png);
    padding-top: 50px;
    padding-bottom: 100px;
}

.body {
    font-weight: 300;
    font-style:normal;
    margin: 0;
    padding: 0;
    max-height:max-content;
    max-width:max-content
}

.about-me {
    display: flex;
    align-items: center;
    padding: 100px;
}

.about-me-image {
    flex: 1;
}

.about-me-image img {
    max-width: 75%;
    display: block;
}

.about-me-text {
    flex: 2;
    padding: 20px;
    color: antiquewhite;
    border: 10px solid;
}

.about-me-text h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

.about-me-text p {
    font-size: 24px;
    line-height: 1.5;
}

.image-text-container {
    display: flex;
    flex-direction: column;
}
.Portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}
#Hori {
    flex: 1 0 100%;
    max-height:300px;
    width: 100%;
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.Portfolio-img {
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
}

.text {
    margin-right: 20px; /* Add margin for spacing between text and images */
}

.imgbtn {
    flex-grow: 1;
    flex-basis: 50%;
    margin-bottom: 10px; /* Add margin for spacing between images */
    
}
.img-size {
   max-width: 250px;
   max-height: 250px;
}
.connect {
   font: 48px;
   color: antiquewhite;
}
.connect-list {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content:center;
    list-style-type: none;
}